sctp_recvmsg does not populate sctp_sndrcvinfo

I am using sctp_recvmsg as below.
sctp_sndrcvinfo sctp_info = {0};
sockaddr_in remote_address;
int flags = 0;
socklen_t sock_len = sizeof(remote_address);
char                mBuffer[MAX_BUFFER_LENGTH];
 int len = sctp_recvmsg(mServerFd, mBuffer, MAX_BUFFER_LENGTH,
            (sockaddr*)&remote_address, &sock_len, &sctp_info, &flags);

My all communications goes fine except sctp_info is never populated. I can see messages on different streams when captured with tcpdump but still the sctp_info shows 0 for all streams.


Hi,

I had the same problem and found that you need to explicitly subscribe to event `sctp_data_io_event` in order to receive the ancillary data from kernel (https://github.com/torvalds/linux/blob/v4.20/net/sctp/socket.c#L2232-L2234), at least for Linux 4.x.

```c
struct sctp_event_subscribe subs;
memset(&subs, 0, sizeof(subs));
subs.sctp_data_io_event = 1;
setsockopt(mServerFd, SOL_SCTP, SCTP_EVENTS, &subs, sizeof(subs));

sctp_sndrcvinfo sctp_info = {0};
sockaddr_in remote_address;
int flags = 0;
socklen_t sock_len = sizeof(remote_address);
char mBuffer[MAX_BUFFER_LENGTH];
int len = sctp_recvmsg(mServerFd, mBuffer, MAX_BUFFER_LENGTH,
(sockaddr*)&remote_address, &sock_len, &sctp_info, &flags);
```

Regards,
Sérgio

Looking at sctp_sndrcvinfo:
* you cannot check for `sinfo_ppid` != 0 as 0 is the _unspecified payload protocol id_ as defineid in RFC9260 Section 15.5
* you cannot check for `sinfo_stream` != 0 as there's no statement that stream  0 would be invalid
* you cannot chec for `sinfo_ssn` != 0 as the valid range is the full 16bit range 0..65535
* you cannot use `sinfo_context` != 0 as the context field is not used in all cases
* you cannot use `sinfo_timetolive` as this is not used in the received direction (and even in TX 0 is a valid value)
* you cannot use `sinfo_tsn` or `sinfo_cumtsn` as the valid range is the full 32 bit range from from 0 to 4294967295

So as a caller to `sctp_recvmsg` you have no way of reliably detecting if the kernel passed down a `sctp_sndrcvinfo` or not. This is really bad :(

The FreeBSD implementation seems to initialize sinfo_assoc_id to zero before copying over the data from the cmsg, see https://github.com/freebsd/freebsd-src/blob/bac98f86c98421f6153c749b6c77995ef778e2fb/lib/libc/net/sctp_sys_calls.c#L842 - this seems to imply that if the kernel sends something via cmsg, the assoc_id would be non-zero?  In that case the caller could reliably use `sctp_assoc_id != 0` as a reliable indicator that `sctp_sndrcvinfo` was actually provided.

> The FreeBSD implementation seems to initialize sinfo_assoc_id to zero before copying over the data from the cmsg, see https://github.com/freebsd/freebsd-src/blob/bac98f86c98421f6153c749b6c77995ef778e2fb/lib/libc/net/sctp_sys_calls.c#L842 - this seems to imply that if the kernel sends something via cmsg, the assoc_id would be non-zero? In that case the caller could reliably use `sctp_assoc_id != 0` as a reliable indicator that `sctp_sndrcvinfo` was actually provided.

It looks like this should also be possible for Linux, as sctp_assoc_id == 0 is used for the _unset association id_ in the kernel.  `sctp_assoc_set_id()` is called
* from `__sctp_connect()` if the user requested an association ID
* while processing an INIT chunk in `sctp_process_init`
* from some COOKIE-ECHO handlers via `sctp_sf_do_assoc_update` -> `sctp_assoc_update`

So basically I'd argue the lksctp-tools library should also do the same: zero-initialize the `sctp_assoc_id` before copying over cmsg data. I'll submit a patch.