sctp_peeloff() returns a socket of wrong t ype: should be SOCK_STREAM but is SOCK_SEQPACKET

int sd, sock, type, len=sizeof(type);

sock = socket(AF_INET, SOCK_SEQPACKET, IPPROTO_SCTP);
sctp_connectx(sock, ...);
sd = sctp_peeloff(sock, id);
getsockopt(sd, SOL_SOCKET, SO_TYPE, &type, &len);

type is SOCK_SEQPACKET, not SOCK_STREAM as expected

Regards,
Yves.

RFC 6458 section 9.2 says : Note also that the new socket is a one-to-one style socket.

> RFC 6458 section 9.2 says : Note also that the new socket is a one-to-one style socket.

This indeed cause differences in behavior on the peeled-off socket (newfd), for example in sendmsg() when a new destination address is supplied, in the handling of msg_flags such as SCTP_EOF, SCTP_ABORT, and SCTP_SENDALL, and in the behavior of certain socket options.

I also noticed that FreeBSD sets the socket type of the peeled-off socket to SOCK_SEQPACKET., @tuexen is this expected?

Thanks.


> On 6. Jan 2026, at 18:09, Xin Long ***@***.***> wrote:
> 
> lxin left a comment (sctp/lksctp-tools#70)
> RFC 6458 section 9.2 says : Note also that the new socket is a one-to-one style socket.
> This indeed cause differences in behavior on the peeled-off socket (newfd), for example in sendmsg() when a new destination address is supplied, in the handling of msg_flags such as SCTP_EOF, SCTP_ABORT, and SCTP_SENDALL, and in the behavior of certain socket options.
> I also noticed that FreeBSD sets the socket type of the peeled-off socket to SOCK_SEQPACKET., @tuexen is this expected?
No. Let me check and get back to you.

Best regards
Michael
> Thanks.
> —
> Reply to this email directly, view it on GitHub, or unsubscribe.
> You are receiving this because you were mentioned.Message ID: ***@***.***>



I confirm that FreeBSD (15.0, sctplib-1.0.32, libusrsctp-0.9.5.0) sets 
the socket type of a peeled-off socket to SOCK_SEQPACKET and not to 
SOCK_STREAM as expected.

Regrads,

Yves.

Le 06/01/2026 à 21:12, Michael Tüxen a écrit :
> *tuexen* left a comment (sctp/lksctp-tools#70) 
> <https://github.com/sctp/lksctp-tools/issues/70#issuecomment-3716148706>
> > On 6. Jan 2026, at 18:09, Xin Long ***@***.***> wrote:
> >
> > lxin left a comment (sctp/lksctp-tools#70)
> > RFC 6458 section 9.2 says : Note also that the new socket is a 
> one-to-one style socket.
> > This indeed cause differences in behavior on the peeled-off socket 
> (newfd), for example in sendmsg() when a new destination address is 
> supplied, in the handling of msg_flags such as SCTP_EOF, SCTP_ABORT, 
> and SCTP_SENDALL, and in the behavior of certain socket options.
> > I also noticed that FreeBSD sets the socket type of the peeled-off 
> socket to SOCK_SEQPACKET., @tuexen is this expected?
> No. Let me check and get back to you.
>
> Best regards
> Michael
> > Thanks.
> > —
> > Reply to this email directly, view it on GitHub, or unsubscribe.
> > You are receiving this because you were mentioned.Message ID: 
> ***@***.***>
>
> —
> Reply to this email directly, view it on GitHub 
> <https://github.com/sctp/lksctp-tools/issues/70#issuecomment-3716148706>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/BEPLWV732AIBKB65TRH5QOT4FQJJRAVCNFSM6AAAAACPSGDVDSVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZTOMJWGE2DQNZQGY>.
> You are receiving this because you authored the thread.Message ID: 
> ***@***.***>
>



> On 6. Jan 2026, at 18:09, Xin Long ***@***.***> wrote:
> 
> lxin left a comment (sctp/lksctp-tools#70)
> RFC 6458 section 9.2 says : Note also that the new socket is a one-to-one style socket.
> This indeed cause differences in behavior on the peeled-off socket (newfd), for example in sendmsg() when a new destination address is supplied, in the handling of msg_flags such as SCTP_EOF, SCTP_ABORT, and SCTP_SENDALL, and in the behavior of certain socket options.
> I also noticed that FreeBSD sets the socket type of the peeled-off socket to SOCK_SEQPACKET., @tuexen is this expected?
This is fixed in
https://cgit.FreeBSD.org/src/commit/?id=d195b3783fa4de5c1a95f6d95eb9444abce6778b <https://cgit.freebsd.org/src/commit/?id=d195b3783fa4de5c1a95f6d95eb9444abce6778b>

Best regards
Michael
> Thanks.
> —
> Reply to this email directly, view it on GitHub, or unsubscribe.
> You are receiving this because you were mentioned.Message ID: ***@***.***>

